@{
	@model parrucchiera.viewmodels.parrucchieriViewModels;
	ViewData["Title"] = "Appuntamento";
}
<h1>@ViewData["Title"]</h1>

<div style="display: flex;">
	<h1>Prendi un appuntamento subito!</h1>
	<h2>scegli il tuo parrucchiere</h2><br>
	<div class="card">
	
		<div class="container">
			<h4><b>Giacomo Marchesi</b></h4>
			<p>parrucchiere</p>
		</div>
	</div>
	<div class="card">
		<img src="~/images/avatar1.jpg.png" width="150" height="100" />
		<div class="card-content">
			<h3 class="card-title">Titolo della Card</h3>
			<p class="card-text">Questo è un esempio di testo all'interno della card. Puoi aggiungere ulteriori dettagli qui.</p>
		</div>
	</div>
</div>
		{% endfor %}
	</div>
</div>

</div>


</div>