@{
    @model parrucchiera.viewmodels.parrucchieriViewModels;
    ViewData["Title"] = "Appuntamento";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h1>Prendi un appuntamento subito!</h1>
    <h2>Scegli il tuo parrucchiere</h2>


    <div class="card-list-container" >
        <div class="custom-card">
            <img src="~/images/@parrucchiera.cod" width="200" height="230" />
            <div class="custom-container">
                <h4><b>Giacomo Marchesi</b></h4>
                <p>parrucchiere</p>
                <p> napoli@ggl</p>
                <p>3383649760</p>
            </div>

            <button>Prenota ora </button>
        </div>


        <div class="custom-card">
            <img src="~/images/avatar1.png" width="200" height="230" />
            <div class="custom-container">
                <h4><b>Giacomo Marchesi</b></h4>
                <p>parrucchiere</p>
                <p> napoli@ggl</p>
                <p>3383649760</p>
            </div>

            <button>Prenota ora </button>
        </div>

        <div class="custom-card">
            <img src="~/images/avatar1.jpg.png" width="200" height="230" />
            <div class="custom-container">
                <h4><b>Giacomo Marchesi</b></h4>
                <p>parrucchiere</p>
                <p> napoli@ggl</p>
                <p>3383649760</p>
            </div>

            <button>Prenota ora </button>
        </div>
    </div>
</div>