@{
    
    @model parrucchiera.viewmodels.parrucchieriViewModels;
    ViewData["Title"] = "Appuntamento";
}

<h1>@ViewData["Title"]</h1>
<div>
    <h1>Prendi un appuntamento subito!</h1>
    <h2>Scegli il tuo parrucchiere</h2>

    <div class="card-list-container">


        @foreach (var parrucchiere in Model.parrucchieri)
        {
            <div class="custom-card">
                <img src="~/images/@parrucchiere.codice_immagine" width="200" height="230" />
                <div class="custom-container">
                    <h4><b>@parrucchiere.nome @parrucchiere.cognome</b></h4>
                    <p>parrucchiere</p>
                    <p>@parrucchiere.email</p>
                    <p>3383649760</p>
                </div>

                <button>Prenota ora </button>
            </div>
        }

    </div>
</div>