@{
	@model parrucchiera.viewmodels.parrucchieriViewModels;
	ViewData["Title"] = "Appuntamento";
}
<h1>@ViewData["Title"]</h1>

	<p><h1>Prendi un appuntamento subito!</h1></p>

	<p><h2>Scegli il tuo parrucchiere</h2></p>
	<div class="card">
		<img src="~/images/avatar1.jpg.png" width="200" height="230" />
		
					<h4><b>Giacomo Marchesi</b></h4>
					<p>parrucchiere</p>
					<p> napoli@ggl</p>
					<p>3383649760</p>
					<button>Prenota ora </button>
				</div>
	</div>
			 
			
