@{

    @model parrucchiera.viewmodels.parrucchieriViewModels;
    ViewData["Title"] = "Appuntamenti"
}
<script type="text/javascript">
    function redirectToServizi() {
        window.location.href = "page(" / Servizi.cshtml")";
    }
</script>
<h1>@ViewData["Title"]</h1>
<div>
   

        </table>
