@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="site.css">

    <img src="../images/banner.png" width="1500 px" height="220 px" />
        <div>
            <class ="text-center">
    <h1 class="titoli">Benvenuti!</h1>

 <h3 class=disopal-1">
        Parrucchieri a Parma dal 1965.
        Il naturale senso della bellezza.
    </h3>
  

    <img src="../images/capelli.jpg" width="800 px" height="780 px" />
  
</div>
