@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="site.css">

<div class="image-container">
    <img class="left-image" src="~/images/banner.png" width="5000" height="220" />
</div>
<div class="text-center">
    <h1 class="titoli">Benvenuti!</h1>
    <h3 class="disopal-1">
        Parrucchieri a Parma dal 1965.
        <i>Lascia i tuoi capelli in buone mani.</i>
    </h3>
    <div class="image-container">
        <img class="centered-image" src="~/images/capelli.jpg" width="800" height="780" />
    </div>
</div>
