@{
    ViewData["Title"] = "Home Page";
}

<div> <class="text-center">
 
    <h1 class="titoli">Benvenuti!</h1>
    <h2 class="display-1">Scegli il tuo servizio </h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

 <h3 class=disopal-1">
        Parrucchieri a Parma dal 1965.
        Il naturale senso della bellezza.
    </h3>
    

    <img src="../images/capelli.jpg" width="700" height="500" />
  
</div>
