@{

    ViewData["Title"] = "Prenotazione";
    @model parrucchiera.viewmodels.prenotazioniViewModels

}
<link rel="stylesheet" type="text/css" href="site.css">

<h1>La tua prenotazione è arivata a buon fine</h1>
<h2>Scegli il tuo servizio:</h2>


<div class="prenotazionecontainer">
    <div>
        @foreach (var prenotazione in Model.lista_prenotazioni)
        {
            <div class="col-inner">
                Il cliente: <b>@prenotazione.cliente </b>
                Ha prenotato con il parrucchiere: <img src="~/images/@prenotazione.parrucchiere" width="200" height="230" onerror="this.onerror=null; this.src='../images/defaultavatar1.png'" />
                Orario: <p>@prenotazione.appuntamento_Data_tempo</p>
               
            </div>
        }
    </div>
</div>