@{

    ViewData["Title"] = "Prenotazione";
    @model parrucchiera.viewmodels.prenotazioniViewModels

}
<link rel="stylesheet" type="text/css" href="site.css">

<h1>La tua prenotazione è arivata a buon fine</h1>
<h2>Scegli il tuo servizio:</h2>


<div class="prenotazionecontainer">
    <div>
        @foreach (var prenotazione in Model.lista_prenotazioni)
        {
            <div class="col-inner">
                Il cliente: <b>@prenotazione.cliente </b>
                Ha prenotato con il parrucchiere: <i>@prenotazione.parrucchiere</i>
                Orario: <p>@prenotazione.appuntamento_Data_tempo</p>
            </div>
        }
    </div>
</div>