@{

    @model parrucchiera.viewmodels.PrenotazioneViewModels;
    ViewData["Title"] = "prenotazione";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h1>Prendi una prenotazione subito!</h1>
    <h2>Scegli il tuo orario</h2>
    <div>
		@using (Html.BeginForm("prenotazioni", "Home", FormMethod.Post))
		{
			<p>

			</p>
			<table class="table">
				<tr>
					<th>
						@Html.LabelFor(model => Model.prenotazione.appuntamento_Data_tempo)
						@Html.EditorFor(model => model.prenotazione.appuntamento_Data_tempo, "Date")
					</th>
				
				</tr>
			</table>
			<p>
				<input id="appuntamento" type="submit" value="Save" />
			</p>

		}

    </div>
</div>
