@@{

    @model parrucchiera.viewmodels.PrenotazioneViewModels;
    ViewData["Title"] = "prenotazione";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h1>Prendi una prenotazione subito!</h1>
    <h2>Scegli il tuo orario</h2>
    <div>
        @using (Html.BeginForm("CreaAppuntamento", "Home", FormMethod.Post))
        {
         
            <input id="appuntamento" type="submit" value="Save" />
        }


    </div>
