@{
	ViewData["Title"] = "Prodotti";
}
<h1>@ViewData["Title"]</h1>

<div style="display: flex;">
	<h1>QUESTI SONO I NOSTRI prodotti! WOW!</h1>

	<h2>Proponiamo differenti servizi, per occuparci della tua bellezza nella maniera più olistica possibile</h2>

</div>