@{	
	@model parrucchiera.viewmodels.serviziViewModels;
	ViewData["Title"] = "Servizi";
}
<h1>@ViewData["Title"]</h1>
@* <link rel="stylesheet" type="text/css" href="site.css"> *@
<div>
	<h1>QUESTI SONO I NOSTRI SERVIZI! WOW!</h1>

	<h2>Proponiamo differenti servizi, per occuparci della tua bellezza nella maniera più olistica possibile.</h2>
	


	<h2>Scegli il tuo servizio:</h2>
	 @foreach (var servizi in Model.servizi)
        {
        <div class="pricing-table">
                <div class="custom-container">
                <h4><b>@servizi.nome_servizio  @servizi.descrizione_servizio</b></h4>
                    <p>servizi</p>
                <p>@servizi.prezzo €</p>
                   
                </div>
          
        </div>
        }
	