@{
	ViewData["Title"] = "Servizi";
}
<h1>@ViewData["Title"]</h1>

<div style="display: flex;">
	<h1>QUESTI SONO I NOSTRI SERVIZI! WOW!</h1>
	
	<h2>Proponiamo differenti servizi, per occuparci della tua bellezza nella maniera più olistica possibile</h2>
	<h3>
		(1,'acconciatura','sabaku',50),
		(2,'acconciatura','maiku',20),
		(3, 'Taglio corto', 'Taglio di capelli corto alla moda', 30.),
		(4, 'Colore Balayage', 'Balayage per un look naturale e luminoso', 50),
		(5, 'Trecce africane', 'Acconciatura con trecce a cornrows', 60),
		(6, 'Extension capelli lisci', 'Extension per capelli lisci con clip', 70),
		(7, 'Taglio lungo scalato', 'Taglio lungo con scalatura per un look dinamico', 45.00),
		(8, 'Mèches', 'Colore mèches per illuminare il viso', 55.00)
	</h3>
	
</div>
