@{	
	@model parrucchiera.viewmodels.serviziViewModels;
	ViewData["Title"] = "Servizi";
}
<h1>@ViewData["Title"]</h1>
@* <link rel="stylesheet" type="text/css" href="site.css"> *@
<div>
	<h1>QUESTI SONO I NOSTRI SERVIZI! WOW!</h1>

	<h2>Proponiamo differenti servizi, per occuparci della tua bellezza nella maniera più olistica possibile.</h2>
	


	<h2>Scegli il tuo parrucchiere:</h2>

	<table border="9">
		<thead>
			<tr>
				<th>servizio</th>
				<th>descrizione</th>
				<th>prezzo</th>
			</tr>
		</thead>

		@foreach (var servizio in Model.servizi)
		{
			
			<tr>
				<td>@servizio.nome_servizio</td>
				<td>@servizio.descrizione_servizio</td>
				<td>@servizio.prezzo</td>
			</tr>
		}
			
	</table>
</div>
	