@{
	ViewData["Title"] = "La nostra storia";
}
<h1>@ViewData["Title"]</h1>

<div style="display: flex;">
	
	<img src="../images/foto.jpg" width="600 px;" height="500 px;" />
	<p>
		Dal 1965 ha sviluppato un approccio fortemente artistico al taglio. Il ‘Parrucchieri’, ispirato dalla scultura, prevede il taglio in caduta naturale da capello asciutto. Lo stilista studia la statura e la silhouette della persona, insieme alla struttura e la predisposizione del capello.
		Si presta molta attenzione ai tratti somatici e si cerca di ottenere la perfetta sintonia tra il viso ed i capelli che ne fanno da cornice.
		Il risultato: linee e proporzioni armoniose, create ‘su misura’ per ampliare la bellezza di ognuno
		Il ‘Parrucchieri’ intende il colore come cornice del viso, in armonia con l’incarnato, gli occhi e la pelle dell’individuo; attraverso una ricercata tecnica professionale riesce ad ottenere risultati assolutamente naturali
	</p>

</div>
<br />
<br />
