html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: pink;
    text-align: center;
}

.titoli {
    text-align: center;
    color: blue;
    font-style: italic;
}

.titolo {
    color: blue;
    font-style: italic;
}

.custom-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 200px;
    background-color: white;
    margin: 10px;
    text-align: center;
}

.custom-card-image {
    height: 300px;
}
/* On mouse-over, add a deeper shadow */
.custom-card:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.custom-container {
    padding: 2px 2px;
}

.card-list-container {
    padding: 20px;
    display: flex;
    text-align: justify-all;
    gap: 20px;
}

.container {
    text-align: justify-all;
}

.container2 {
    text-align: right;
}

h3 {
    text-align: center;
}
